@charset 'UTF-8';

/* 전체 레이아웃 */
.container {
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 3.5rem auto minmax(min-content, max-content);
	transition: all 0.5s;
	min-height: 76.8rem;
}

/* 헤더 */
.header {
	grid-column: 1;
	grid-row: 1/-1;

	.header__inner {
		/* width: 100%;
		height: 100%; */
		transition: all 0.5s;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 16rem;
		gap: 12rem;
	}

	.tit {
		position: absolute;
		top: 30px;
		font-size: 1.2rem;
		color: var(--slogan-text-color);
		letter-spacing: 0.3rem;
		text-align: center;
	}

	/* 로고  */
	h1 {
		width: 17rem;
		a {
			display: block;
			width: 100%;

			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}

/* gnb 메뉴 */
#gnb {
	.gnb__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.gnb__list-item {
			position: relative;

			&:hover,
			&.on {
				a {
					color: var(--gnb-hover-color);
					&::after {
						display: block;
					}
				}
			}

			> a {
				display: inline-block;
				padding: 0.5rem 0;
				font-size: 1.7rem;
				color: var(--gnb-color);
				transition: all 0.5s;
				position: relative;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 0.3rem;
					position: absolute;
					bottom: 0.3rem;
					left: 0px;
					background: var(--gnb-bar-color);
					display: none;
				}
			}

			.subMenu {
				position: absolute;
				left: 0;
				top: 3.25rem;
				z-index: 3;
				display: none;

				a {
					display: block;
					width: 17.2rem;
					padding: 0.7rem 1rem;
					font-size: 1.4rem;
					color: var(--gnb-color);
					text-align: left;
					background-color: #fff;

					&:hover {
						color: var(--gnb-bar-color);
						background-color: var(--gnb-hover-color);
					}
				}
			}
		}
	}
}

.btn-call {
	width: 3.2rem;
	height: 2rem;
	border: none;
	background-color: transparent;
	transition: all 0.5s;
	cursor: pointer;
	z-index: 101;
	display: none;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	right: 2rem;

	&::before,
	&::after,
	span {
		content: '';
		display: block;
		width: 100%;
		height: 0.2rem;
		background: var(--primary-text-color);
		position: absolute;
		left: 0;
		transition: all 0.5s;
	}
	&::before {
		top: 0;
		transition: top 0.5s 0s, transform 0.5s 0.5s;
	}
	&::after {
		bottom: 0;
		transition: bottom 0.5s 0s, transform 0.5s 0.5s;
	}
	span {
		top: 50%;
		margin-top: -1px;
		opacity: 1;
		text-indent: -9999px;
	}

	&.on {
		&::before {
			top: calc(50% - 1px);
			transform: rotate(45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		span {
			transform: translateX(-200%);
			opacity: 0;
		}
	}
}

.mobile {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
	z-index: 100;
	background: #fff;
	transform: translateX(100%);
	transition: all 0.5s;
	padding: 0 6rem;
	overflow-y: auto;
	&.on {
		transform: translateX(0);
	}

	.mobile__menu {
		position: absolute;
		top: 14rem;
		left: 20%;

		.mobile__list {
			.mobile__list-item {
				transition: all 0.5s;

				a {
					display: inline-block;
					padding: 0.8rem 0;
					font-size: 1.7rem;
					font-weight: bold;
					color: var(--gnb-color);
					transition: all 0.5s;
					position: relative;

					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 0.2rem;
						position: absolute;
						bottom: 0.7rem;
						left: 0;
						background: var(--gnb-bar-color);
						display: none;
					}
				}

				&:hover > a {
					color: var(--gnb-hover-color);

					&::after {
						display: block;
					}
				}
				&.on {
					> a {
						color: var(--gnb-hover-color);

						&::after {
							display: block;
						}
					}
					.mobile__subMenu {
						height: auto;
						transition: all 1s;
					}
				}

				.mobile__subMenu {
					height: 0;
					overflow-y: hidden;
					transition: all 1s;

					li {
						a {
							display: block;
							font-size: 1.4rem;
							font-weight: 400;
							color: var(--gnb-color);
							padding: 0.5rem;
						}

						&:hover a {
							color: var(--gnb-bar-color);
						}
					}
				}
			}
		}
	}
}

.language {
	background-color: var(--nav-bg-color);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 2rem;
	z-index: 3;

	select {
		color: var(--nav-color);
		background-color: var(--nav-bg-color);
		padding: 0.5rem;
	}
}

main {
	grid-row: 2/-1;
	/* height: calc(100vh - 3.5rem); */
}

.footer {
	grid-column: 1;
	grid-row: 3;

	.footer__inner {
		width: 100%;
		height: 100%;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	.familysite {
		width: 12rem;
		height: 2.5rem;
		position: relative;

		button {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.2rem;
			color: var(--primary-text-color);
			z-index: 3;
			border: 1px solid #aaa;
			cursor: pointer;

			.navi_down {
				position: absolute;
				right: 1rem;
				top: 50%;
				height: 0;
				width: 0;
				margin-top: -2px;
				border-style: solid;
				border-color: transparent transparent var(--primary-color) transparent;
				border-width: 0 3px 4px 3px;
			}
			&.on .navi_down {
				border-color: var(--primary-color) transparent transparent transparent;
				border-width: 4px 3px 0 3px;
			}
		}

		.familysite__container {
			position: absolute;
			top: 0px;
			left: 0;
			width: 100%;
			overflow: hidden;
			height: 0px;
			transition: 0.5s;

			&.on {
				top: -108px;
				height: 108px;
			}

			.familysite__list {
				z-index: 2;

				.familysite__list-item {
					height: 36px;

					a {
						display: block;
						width: 100%;
						height: 100%;
						font-size: 1.2rem;
						line-height: 36px;
						color: var(--primary-text-color);
						text-align: center;
						background-color: #fff;
					}

					&:hover a {
						background-color: #333;
						color: var(--basic-text-color);
					}
				}
			}
		}
	}

	.address__container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.privacy a:hover {
			color: var(--primary-color);
		}
		h2 {
			font-size: 1.1rem;
		}
	}
}

/* 헤더 상단에 위치하는 레이아웃 */
@media screen and (max-width: 1600px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 3.5rem 9rem 1fr minmax(min-content, max-content);
	}

	/* 헤더 */
	.header {
		grid-column: 1;
		grid-row: 2/3;

		.header__inner {
			height: 100%;
			padding: 0 2rem;
			flex-direction: row;
			justify-content: space-between;
			gap: 0;
		}

		.tit {
			display: none;
		}
	}

	/* gnb 메뉴 */
	#gnb {
		.gnb__list {
			flex-direction: row;
			gap: 2rem;

			.gnb__list-item {
				&:hover,
				&.on {
					.subMenu {
						display: block;
					}
				}

				> a {
					font-size: 1.5rem;
				}
			}
		}
	}

	.language {
		grid-column: 1;
	}

	main {
		height: calc(100vh - 12.5rem);

		grid-column: 1;
		grid-row: 3/-2;
	}

	.footer {
		grid-row: -1;

		.footer__inner {
			justify-content: flex-end;
			flex-direction: row;
		}

		.address__container {
			flex-direction: row;
			gap: 2rem;
		}
	}
}

@media screen and (max-width: 1024px) {
	.header {
		h1 {
			width: 15rem;
		}
	}
	#gnb {
		.gnb__list {
			gap: 1.5rem;
		}
	}

	main {
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	#gnb {
		display: none;
	}

	.btn-call {
		display: block;
	}
	.mobile {
		display: block;
	}

	.footer {
		.footer__inner {
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 480px) {
	.footer {
		.address__container {
			flex-direction: column;
			gap: 0rem;
		}
	}
}
