/* @font-face {
	font-display: swap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-kr-v36-latin-regular.woff2') format('woff2');
	unicode-range: U+AC00- U+D7A3;
} */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	color: var(--primary-text-color);
	font-family: 'Open Sans', 'Noto Sans KR';
	font-size: 1rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
ol {
	list-style: none;
}

/* 링크 스타일 초기화 */
a {
	text-decoration: none;
	color: inherit;
}

/* 테이블 스타일 초기화 */
table {
	border-collapse: collapse;
	width: 100%;
}

/* 이미지 크기 조정 */
img {
	max-width: 100%;
	height: auto;
}

/* input, button 등의 폼 요소 스타일 초기화 */
input,
button,
textarea,
select {
	background: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	cursor: pointer;
}

.a11y-hidden {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.kor {
	font-family: 'Noto Sans KR', serif;
}
