.catalog {
	/* height: 100%;
	min-height: calc(100vh - 3.5rem - 22rem); */

	display: flex;
	gap: 3rem;

	padding: 3rem;

	.card {
		display: flex;

		gap: 1rem;

		.card__info {
			display: grid;
			place-content: start;
			gap: 1rem;

			p {
				font-size: 1.2rem;
			}
			h4 {
				font-size: 1.5rem;
			}
		}
		.card__thumbnail img {
			max-height: 30rem;
		}
	}
}

@media screen and (max-width: 1600px) {
	.catalog {
		min-height: calc(100vh - 12.5rem - 22rem);
	}
}

@media screen and (max-width: 1280px) {
	.catalog {
		max-height: none;
		flex-direction: column;
		place-content: space-evenly;
	}
}

@media screen and (max-width: 767px) {
	.catalog {
		min-height: auto;
		place-content: start center;
		padding-bottom: 10rem;
	}
}
