.organization__sublayout {
	display: grid;
	grid-template-columns: 25rem auto 25rem;
	grid-template-rows: 22rem auto;
}

.organization {
	height: 100%;
	max-height: calc(100vh - 3.5rem - 22rem);
	display: grid;
	place-content: center;
	padding: 3rem;
}

@media screen and (max-width: 1600px) {
	.organization__sublayout {
		height: auto;
	}

	.organization {
		min-height: calc(100vh - 12.5rem - 22rem);
	}
}

@media screen and (max-width: 1280px) {
	.organization__sublayout {
		grid-template-columns: auto 25rem;
	}

	.organization {
		min-height: calc(52.6rem + 3rem);
	}
}

@media screen and (max-width: 767px) {
	.organization__sublayout {
		grid-template-columns: minmax(auto, 70%) minmax(auto, 25rem);
	}

	.title {
		grid-column: 1;
	}

	.organization {
		padding: 3rem;
		padding-bottom: 10rem;
		min-height: auto;
	}

	.deco {
		display: none;
	}

	.content {
		grid-column: 1 / -1;
		grid-row: 2 / -1;
	}

	.right {
		grid-column: 2;
		grid-row: 1;

		.thumbnail {
			img {
				object-position: bottom left;
			}
		}
	}
}
