.organization {
	height: 100%;
	padding: 3rem;

	.image-container {
		width: 100%;
		height: 100%;

		display: flex;
		place-content: center;
	}
}

@media (orientation: landscape) and (max-width: 1280px) {
	.organization {
		min-height: auto;
		max-height: none;
	}
}

@media screen and (max-width: 767px) {
	.organization {
		max-height: none;
		min-height: auto;
		place-content: start center;
		padding-bottom: 10rem;
	}

	.right {
		.thumbnail {
			img {
				object-position: bottom left;
			}
		}
	}
}
