.brand {
	height: 100%;
	min-height: calc(100vh - 3.5rem - 22rem);
	padding: 7rem;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5%;

	overflow-y: auto;
	/* safari */
	scrollbar-width: thin;
	scrollbar-color: var(--primary-color) white;

	/* chrome */
	&::-webkit-scrollbar {
		width: 1rem;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--primary-color);
		border-radius: 1rem;
	}

	&::-webkit-scrollbar-track {
		background: #fff;
	}

	.brand__thumbnail {
		display: grid;
		place-content: center;

		img {
			max-width: 13rem;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@media screen and (max-width: 1600px) {
	.brand {
		min-height: calc(100vh - 12.5rem - 22rem);
		padding: 3rem;
	}
}

@media screen and (max-width: 1280px) {
	.brand {
		max-height: none;

		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
	}
}

@media screen and (max-width: 767px) {
	.brand {
		min-height: auto;
		padding-bottom: 10rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.brand {
		padding: 3rem 7rem;
		grid-template-columns: 1fr;
		gap: 7rem;
	}
}
