.layout {
	display: grid;
	grid-template-columns: 25rem 1fr 25rem;
	grid-template-rows: 22rem 1fr;
}

/* 상단 title 라인  */
.title {
	background-color: #fff;
	padding: 5rem;
	display: inline-flex;
	justify-content: space-between;
	gap: 4rem;

	h3 {
		background-color: #fff;
		font-family: 'Roboto Condensed';
		font-size: 3rem;
		color: #555;
		position: relative;
		white-space: nowrap;

		&::after {
			content: '';
			display: block;
			width: 6rem;
			height: 0.2rem;
			background-color: #000;
			margin-top: 0.5rem;
		}
	}
	h4 {
		font-size: 1.2rem;
		color: #555;
		text-align: left;
		margin-top: 1.5rem;
	}

	p {
		text-align: left;
		font-weight: lighter;
		line-height: 1.8;
		max-width: 100rem;
	}

	img {
		width: 100%;
		height: 100%;
		min-width: 5rem;
		max-height: 17rem;
		object-fit: contain;
	}

	.text-container {
		grid-column: 3;
		grid-row: 3;
		display: grid;
		place-content: center;
	}
}

.thumbnail {
	height: 22rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left bottom;
	}
}

/* content + right  */
.right {
	.thumbnail3 {
		height: calc((100% - 21rem) / 2);
	}

	.text-container {
		height: calc((100% - 21rem) / 2);
		background-color: #fff;
		color: var(--primary-color);
		font-size: 1.5rem;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.gray {
		height: 21rem;
		background-color: #bbb;
	}
}

.content {
	display: grid;
	grid-template-columns: 66.666% 33.333%;
	grid-template-rows: 1fr 21rem;

	.combi {
		height: calc(100vh - 3.5rem - 22rem - 21rem);
		grid-column: 1/-1;
		grid-row: 1;

		.slide,
		.swiper,
		.image-container {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.thumbnail2 {
		grid-column: 1;
		display: grid;
		place-content: center;

		img {
			width: 5rem;
			object-fit: contain;
		}
	}

	.deco {
		height: 21rem;
	}
}

/* 1600px이하 레이아웃  */
@media screen and (max-width: 1600px) {
	.content {
		height: calc(100vh - 12.5rem - 22rem);

		.combi {
			height: calc(100vh - 12.5rem - 43rem);
		}
	}
}

@media screen and (max-width: 1280px) {
	.layout {
		grid-template-columns: auto 25rem;
	}

	.content {
		.combi {
			height: calc(100vh - 12.5rem - 22rem - 21rem);
		}
	}
}

@media screen and (max-width: 1024px) {
	.layout {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 22rem 1fr 21rem;
	}

	.title {
		grid-column: 1/-1;
		grid-row: 1;
	}

	.thumbnail1 {
		grid-row: 3;
		height: 21rem;
	}

	.content {
		grid-column: 1/-1;
		grid-row: 2;
		/* height: calc(100vh - 12.5rem - 22rem - 21rem); */
		height: auto;

		.combi {
			height: calc(100vh - 12.5rem - 22rem - 42rem);
			min-height: 35rem;
		}

		.deco {
			grid-column: 2;
			grid-row: 2;
		}
	}

	.right {
		grid-column: 2/-1;
		grid-row: 3;
		height: 21rem;
		display: flex;

		.thumbnail3 {
			height: 100%;
			flex: 1;
		}
		.text-container {
			height: 100%;
			flex: 1;
		}

		.gray {
			display: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.layout {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
	.title {
		flex-flow: column;
		padding: 2rem 2rem 4rem;
		height: auto;
		gap: 2rem;

		.text-container {
			place-content: start;
		}

		.title__thumbnail {
			display: none;
		}
	}

	.thumbnail1 {
		display: none;
	}

	.content {
		grid-template-columns: 1fr 1fr;
		height: auto;

		.combi {
			height: 30rem;
		}

		.deco {
			display: block;
		}
	}

	.right {
		grid-column: 1/-1;
	}
}

@media screen and (max-width: 480px) {
	.title {
		p {
			font-size: 1.2rem;
		}
	}
	.content {
		grid-template-rows: 1fr;
		height: auto;
		margin-bottom: 10rem;

		.combi {
			height: 25rem;
		}

		.thumbnail2,
		.deco {
			display: none;
		}
	}
	.right {
		display: none;
	}
}

@media (pointer: coarse) {
	.content {
		height: auto;
		min-height: auto;

		.combi {
			height: 50vmin;
		}
	}
}
